<div id="footer">
    <div id="footer-content">

        <div class="one-fourth">
            <div id="footer-logo">
                <h3><a href="index.html">Embedtron</a></h3>
                <p class="main-subtitle">Embedded Systems</p>
            </div><!-- end logo -->
            Ingenieurbüro G.Hadyk</br>
            Robert-Perthel-Straße 79</br>
            50739 Köln</br>
            Mobil: +49(0)173-2175650</br>
            Tel.: +49(0)221-32078969</br>
            </p>

            <h4>Soziale Netzwerke</h4>
            <ul class="social-links">
                <li class="xing" title="XING"><a href="https://www.xing.com/profile/Gregor_Hadyk"></a></li>
                <li class="twitter" title="Twitter"><a href="https://twitter.com/embedtron"></a></li>
                <li class="linkedin" title="Linked In"><a href="www.linkedin.com/in/gregor-hadyk-1b6a1550"></a></li>
            </ul><!-- end social-links -->
        </div><!-- end one-fourth -->
        <!--
        <div class="one-fourth">
            <h4>Latest Tweets</h4>
            <div class="twitter-feed">
            </div>
        </div>

        <div class="one-fourth">
            <h4>Latest Blog Posts</h4>
            <ul class="latest-blog-posts">
                <li><a href="#">Fusce Scelerisque</a></li>
                <li><a href="#">Suspendisse Elementum</a></li>
                <li><a href="#">Mauris Lorem Velit</a></li>
                <li><a href="#">Duis Necpurus Tellus</a></li>
                <li><a href="#">Suspendisse Elementum</a></li>
            </ul>
        </div>

        <div class="one-fourth last">
            <h4>From Our Portfolio</h4>
            <ul id="footer-portfolio">
                <li>
                    <a href="img/slide-4.jpg" rel="prettyPhoto">
                        <img src="img/portfolio/footer/001.jpg" alt="description" />
                    </a>
                </li>
                <li>
                    <a href="img/slide-1.jpg" rel="prettyPhoto">
                        <img src="img/portfolio/footer/004.jpg" alt="description" />
                    </a>
                </li>
                <li class="last">
                    <a href="img/slide-2.jpg" rel="prettyPhoto">
                        <img src="img/portfolio/footer/002.jpg" alt="description" />
                    </a>
                </li>
                <li>
                    <a href="img/slide-2.jpg" rel="prettyPhoto">
                        <img src="img/portfolio/footer/002.jpg" alt="description" />
                    </a>
                </li>
                <li>
                    <a href="img/slide-4.jpg" rel="prettyPhoto">
                        <img src="img/portfolio/footer/001.jpg" alt="description" />
                    </a>
                </li>
                <li class="last">
                    <a href="img/slide-1.jpg" rel="prettyPhoto">
                        <img src="img/portfolio/footer/004.jpg" alt="description" />
                    </a>
                </li>
                <li>
                    <a href="img/slide-1.jpg" rel="prettyPhoto">
                        <img src="img/portfolio/footer/004.jpg" alt="description" />
                    </a>
                </li>
                <li>
                    <a href="img/slide-2.jpg" rel="prettyPhoto">
                        <img src="img/portfolio/footer/002.jpg" alt="description" />
                    </a>
                </li>
                <li class="last">
                    <a href="img/slide-4.jpg" rel="prettyPhoto">
                        <img src="img/portfolio/footer/001.jpg" alt="description" />
                    </a>
                </li>
            </ul>
        </div>
        -->

        <div class="clear"></div>

    </div><!-- end footer-content -->
</div><!-- end footer -->

<div id="footer-bottom">
    <div id="footer-bottom-content">
        <div id="copyright">
            <a href="index.html">www.embedtron.com</a>
            <p>Copyright &copy; 2019 Embedtron. All rights reserved</p>
        </div><!-- end copyright -->
<!--
        <ul id="footer-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="dienstleistungen-hardware.html">Hardware</a></li>
            <li><a href="dienstleistungen.html">Software</a></li>
            <li><a href="about.html">Unternehmen</a></li>
            <li><a href="standort.html">Standort</a></li>
            <li><a href="impressum.html">Impressum</a></li>
            <li><a class="active" href="blog.html">Blog</a></li>
            <li><a href="contact.html">Kontakt</a></li>
-->
        </ul>

        <div class="clear"></div>
    </div><!-- end footer-bottom-content -->
</div><!-- end footer-bottom -->